<div class="fill-view">
	<div class="row w-100 mx-0 px-0">
		<div class="col-12 col-md-8">
			<h1>ALL YOUR FRIENDS' REVIEWS GO HERE IN YOUR FEED</h1>
		</div>
		<div class="col-12 col-md-4">
			<div class="card rounded-0" style="min-height: 80vh">
				<div class="card-header rounded-0 bg-recessed text-center">
					<div class="mx-auto d-block position-relative">
						<img src="/img/default_profile.jpg" class="profile">
						<span class="position-relative position-absolute fixed-bottom" style="left: 188px; bottom: 4px;">
							<a href="#" id="edit-profile"><img src="/img/icn/icon_edit.png"></a>
						</span>
					</div>
					<h2 class="card-title">{{first_name}} {{last_name}}</h2>
					<p class="card-subtitle">{{birthday}}</p>
				</div>
				<div class="card-body bg-highlight">
					<div class="row">
						{{#each friend}}
						<a class="col-6 col-md-4 col-lg-3 ml-0 text-center card-link" href="/user/{{friend.id}}">
							<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
							<p class="card-subtitle">{{friend.first_name}}</p>
						</a>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>