<div class="fill-view">
	<div class="offset-1 col-10 col-xl-5">
		<div class="vh-100">
			<h1 class="display-1">REVIEWS GO HERE</h1>
		</div>
	</div>
	<div class="py-3 vh-100 offset-1 col-10 col-sm-6 col-xl-4">
		<div class="card rounded" style="min-height: 80vh">
			<div class="card-header bg-recessed text-center">
				<div class="mx-auto d-block position-relative">
					<img src="/img/default_profile.jpg" class="profile">
					<span class="position-relative position-absolute fixed-bottom" style="left: 188px; bottom: 4px;">
						<a href="#" id="edit-profile"><img src="/img/icn/icon_edit.png"></a>
					</span>
				</div>
				<h2 class="card-title">{{first_name}} {{last_name}}</h2>
				<p class="card-subtitle">{{birthday}}</p>
			</div>
			<div class="card-body bg-highlight">
				<div class="row">
					{{#each friend}}
					<a class="col-6 col-md-4 col-lg-3 ml-0 text-center card-link" href="/user/{{friend.id}}">
						<img src="/img/default_profile.jpg" class="mx-auto py-3 profile-thumb">
						<p class="card-subtitle">{{friend.first_name}}</p>
					</a>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>