{{>banner message="User Directory"}}
<div class="content content-border d-flex align-items-start h-100 pt-3">
	{{> aside user}}
	<div class="d-flex flex-wrap flex-fill" id="users">
		<div class="card col-6 offset-3 px-0 mb-3 text-center rounded shadow">
			<h5 class="card-header py-2">Pages</h5>
			<div class="card-body p-2">
				<p class="card-title mb-0">
					{{#each pages}}
					{{#if current}}
					<strong>{{page}}{{extra}}</strong>
					{{else}}
					<a href="/users/directory/{{page}}">{{page}}{{extra}}</a>
					{{/if}}
					{{/each}}
				</p>
			</div>
		</div>
		{{#each users}}
		<div class="my-1 px-2 offset-1 col-10 offset-sm-0 col-sm-6">
			<div class="card shadow px-0 bg-light">
				<div class="row no-gutters">
					<div class="col-md-4 d-flex align-items-center px-2">
						<a class="stretched-link" href="/profile/{{id}}"><img src="{{profile_pic_url}}" class="p-4 p-md-2 card-img profile-thumb" alt="{{first_name}} profile image."></a>
					</div>
					<div class="col-md-8 px-3 px-md-1">
						<div class="card-body py-0 px-2 my-3 border-left">
							<h5 class="card-title text-truncate mb-1">{{first_name}} {{last_name}}</h5>
							<div class="d-flex flex-row flex-md-column justify-content-between align-items-start">
								<div class="d-flex flex-row flex-grow">
									<div class="text-right text-md-left">
										<p class="mb-0">Reviews: </p>
										<p class="mb-0">Comments: </p>
									</div>
									<div class="flex-grow ml-2">
										<p class="mb-0">{{#if Reviews.[0].review_count}}{{Reviews.[0].review_count}}{{else}}0{{/if}}</p>
										<p class="mb-0">{{#if Messages.[0].message_count}}{{Messages.[0].message_count}}{{else}}0{{/if}}</p>
									</div>
								</div>
								<div class="position-relative">
								{{#if ../user.id}}
									{{#if follow}}
									<button type="button" class="btn py-3 py-md-0 btn-danger" data-friend="{{id}}" onclick="removeFriend(this)">Unfollow</button>
									{{else}}
									<button type="button" class="btn py-3 py-md-0 btn-success" data-friend="{{id}}" onclick="addFriend(this)">Follow</button>
									{{/if}}
								{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
		<div class="card col-6 offset-3 px-0 mb-3 text-center rounded shadow">
			<h5 class="card-header py-2">Pages</h5>
			<div class="card-body p-2">
				<p class="card-title mb-0">
					{{#each pages}}
					{{#if current}}
					<strong>{{page}}</strong>
					{{else}}
					<a href="/users/directory/{{page}}">{{page}}</a>
					{{/if}}
					{{/each}}
				</p>
			</div>
		</div>
	</div>
</div>